.heading {
  width: 100%;
  background-color: #fff;
  padding: 14px;
  display: flex;
  justify-content: space-between;

  .title,
  .timer {
    font-weight: 800;
    font-size: 3vw;
    color: #000;
    text-transform: uppercase;
  }
  .timer {
    color: #7c7c7c;
  }
}

.formBody {
  height: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
}

.formItem {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  &_label {
    margin: 19px 12px 6px;
    label {
      font-weight: 700;
      font-size: 5vw;
      color: #000;
      text-transform: uppercase;
    }
  }
  &_input {
    height: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 11px 16px;
    position: relative;
    background-color: #f2f2f7; /* Серый цвет */
    border-radius: 5px;
    textarea {
      flex: 1;
      min-height: 100%;
      min-width: 100%;
      resize: none;
      border: none;
      background-color: #f2f2f7;
      border-radius: 5px;
      padding: 15px 10px;
      font-family: "Inter", sans-serif;
      font-size: 12px;
    }
  }
  &_photo {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 11px 16px;
    background-color: #f2f2f7; /* Серый цвет */
    border-radius: 5px;
    input {
      height: 100%;
      flex: 1;
      min-height: 100%;
      min-width: 100%;
      resize: none;
      border: none;
      background-color: #f2f2f7;
      border-radius: 5px;
      padding: 15px 10px;
      font-family: "Inter", sans-serif;
      font-size: 12px;
    }
  }
  .error {
    color: red;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
  }
}
.fileInputLabel {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  cursor: pointer;
  overflow: hidden;
  .form_img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .removeButton {
    z-index: 10;
    position: absolute;
    bottom: 0;
  }
}

.fileInputPlaceholder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #bdbdbd;
  z-index: 5;
  .plus {
    font-weight: 100;
    font-size: 20vw;
    margin-bottom: -18px;
  }
  .add_photo {
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
  }
}

input[type="file"] {
  display: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.block {
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.button {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  font-weight: 400;
  font-size: 5.5vw;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.white {
  background-color: #ffffff;
  color: #000;
}
.black {
  background-color: #000;
  color: #fff;
}
.grey {
  background-color: #9b9b9b;
  color: #fff;
}
.removeButton {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
